<a href="https://colab.research.google.com/github/royamammadova/Python_lessons/blob/main/Mixed_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Get the keys from the dictionaries named *sample_dic* as a list
```
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
```

In [ ]:
#Task1
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
sample_dic=[]
for key in sample_dict:
  sample_dic.append(key)
print(sample_dic)

['Physics', 'Math', 'history']

2) Get sum of all the values in a dict

```
#Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    
}

#Expected Output: 361

```

In [ ]:
#Task2
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50

}
print(sum(sample_dict.values()))

361

3)Get the key of a minimum value from the following dictionary

```
#Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#Expected Output: Math

```

In [5]:
#Task3
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(sample_dict.values()))

65

4) Delete a list of keys from a dictionary
```
#Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}
```

In [7]:
#Task4
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}
del sample_dict['name']
del sample_dict['salary']
print(sample_dict)

{'age': 23, 'city': 'Baku'}

5) Create a dictionary by extracting the keys from a given dictionary

```
# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}
```

In [13]:
#Task5
keys = ["name", "salary"]
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}
filtered={}
for key in keys:
  if key in sample_dict:
    filtered[key]=sample_dict[key]
print(filtered)

{'name': 'Khalid', 'salary': 1000}

6) Take 10 integers from keyboard using loop and print their average value
on the screen.

In [21]:
#Task6
sum=0
for i in range(10):
  a=int(input('Enter the number:'))
  sum+=a
print(sum/10)

Enter the number:1
Enter the number:2
Enter the number:3
Enter the number:4
Enter the number:5
Enter the number:6
Enter the number:7
Enter the number:8
Enter the number:9
Enter the number:10
5.5

7) Print multiplication table of 24 using loop.

In [25]:
#Task7
for i in range(1,25):
  print('24 x',i,'=',24*i)

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240
24 x 11 = 264
24 x 12 = 288
24 x 13 = 312
24 x 14 = 336
24 x 15 = 360
24 x 16 = 384
24 x 17 = 408
24 x 18 = 432
24 x 19 = 456
24 x 20 = 480
24 x 21 = 504
24 x 22 = 528
24 x 23 = 552
24 x 24 = 576

8) Factorial of any number n is represented by n! and is equal to 1*2*3*....*(n-1)*n.

Write a program to calculate factorial of a number.

```
4! = 1*2*3*4 = 24
3! = 3*2*1 = 6
2! = 2*1 = 2

Also,
1! = 1
0! = 1
```

In [37]:
#Task8
n=int(input('Enter the number for factorial:'))
f=1
for i in range(1,n+1):
  if n==0 or n==1:
    f=1
  else:
    f=f*i
print('Factorial is:', f)

Enter the number for factorial:3
Factorial is: 6

9) Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

In [45]:
#Task9
n=input('Enter the num: ')
sum=0
for i in n:
  sum+=int(i)
print(sum)

Enter the num: 123
6

10) Write a Python program that takes a string input from the user and counts the number of characters in the string.

In [47]:
#Task10
s=input('Enter the string: ')
cnt=0
for i in s:
  cnt+=1
print(cnt)

Enter the string: jfnkjdef
8