<a href="https://colab.research.google.com/github/royamammadova/Python_lessons/blob/main/Task_HW_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a program to merge two dictionaries into one. If there are overlapping keys, sum their values.

2) Write a Python program to create an empty dictionary.

3) Write a Python script to iterate over a dictionary and print all key-value pairs.

4) Write a Python program to remove the key-value pair with key 'age' from  dictionary

5) Write a program to sort a dictionary by its keys in ascending order and print the sorted dictionary.

6) Given a dictionary students_scores = {'Alice': 85, 'Bob': 90}, update the score for 'Alice' to 95. If 'Charlie' does not exist in the dictionary, add 'Charlie' with a default score of 60.

7) Write a Python program to print all the values in  dictionary:

8) Given a dictionary item_prices = {'apple': 1.00, 'banana': 0.50}, calculate the total price of all items. Then, apply a 10% discount to all items and update the dictionary.

In [ ]:
#Task1
dict1={'apple':'alma','pear':'armud'}
dict2={'banana':'banan','food':'yemek','apple':'al'}
dict3 = dict1.copy()
for key,value in dict2.items():
    if key in dict3:
        dict3[key]+=value
    else:
        dict3[key]=value
print(dict3)

{'apple': 'almaal', 'pear': 'armud', 'banana': 'banan', 'food': 'yemek'}

In [ ]:
#Task2
dict4={}
print(dict4)

{}

In [ ]:
#Task3
favorite_languages = {
  'jen': 'python',
  'sarah': 'c',
  'edward': 'rust',
  'phil': 'python',
  }
for i in favorite_languages.items():
  print(i)

('jen', 'python')
('sarah', 'c')
('edward', 'rust')
('phil', 'python')

In [ ]:
#Task4
user={'name':'Roya','age':22,'surname':'Mammadova'}
print(user)
del user['age']
print(user)

{'name': 'Roya', 'age': 22, 'surname': 'Mammadova'}
{'name': 'Roya', 'surname': 'Mammadova'}

In [ ]:
#Task5
dict_nums={4:'four',1:'one',2:'two',3:'three'}
sort_dict={}
for key in sorted(dict_nums):
  sort_dict[key]=dict_nums[key]
print(dict_nums)
print(sort_dict)

{4: 'four', 1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
#Task6
students_scores = {'Alice': 85, 'Bob': 90}
print(students_scores)
students_scores['Alice']=95
students_scores['Charlie']=students_scores.get('Charlie', 60)
print(students_scores)

{'Alice': 85, 'Bob': 90}
{'Alice': 95, 'Bob': 90, 'Charlie': 60}

In [ ]:
#Task7
print(students_scores.values())

dict_values([95, 90, 60])

In [ ]:
#Task8
item_prices = {'apple': 1.00, 'banana': 0.50}
total_price=sum(item_prices.values())
new_prices={}
print('Sum of all item prices is ',total_price)
for key,value in item_prices.items():
  new_prices[key]=value*0.9
print(new_prices)

Sum of all item prices is  1.5
{'apple': 0.9, 'banana': 0.45}